class OpenshiftPipelines < Formula
  desc "Red Hat OpenShift Pipelines management"
  homepage "https://cloud.redhat.com/learn/topics/ci-cd"
  license "Apache-2.0"

  if OS.mac?
  url "{{ pipeline_url }}/{{ pipeline_version }}/{{ pipeline_base }}{{ pipeline_mac }}{{ pipeline_version }}{{ pipeline_file_ext }}"
    sha256 "{{ pipeline_mac_hash }}"
  else
    url "{{ pipeline_url }}/{{ pipeline_version }}/{{ pipeline_base }}{{ pipeline_linux }}{{ pipeline_version }}{{ pipeline_file_ext }}"
    sha256 "{{ pipeline_linux_hash }}"
  end

  bottle :unneeded

  def install
    bin.install "tkn"
  end

  test do
    run_output = shell_output("#{bin}/tkn 2>&1")
    assert_match "OpenShift", run_output
  end
end
