class OpenshiftInstall < Formula
  desc "Red Hat OpenShift installtion program"
  homepage "https://www.openshift.com/"
  license "Apache-2.0"

  if OS.mac?
  url "{{ ocp_url }}/{{ ocp_version }}/{{ ocp_install_base }}{{ ocp_mac }}{{ ocp_version }}{{ ocp_file_ext }}"
    sha256 "{{ ocp_client_mac_hash }}"
  else
    url "{{ ocp_url }}/{{ ocp_version }}/{{ ocp_install_base }}{{ ocp_linux }}{{ ocp_version }}{{ ocp_file_ext }}"
    sha256 "{{ ocp_client_linux_hash }}"
  end

  bottle :unneeded

  def install
    bin.install "openshift-install"
  end

  test do
    run_output = shell_output("#{bin}/openshift-install 2>&1")
    assert_match "Creates OpenShift clusters", run_output
  end
end
